@model DropYourCard.Models.UserDetails

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserDetails</h2>

<fieldset>
    <legend>User Details</legend>

    <table class="table table-striped" style="width: 50%">
        <tr>
            <td class="display-label" style="width: 220px">
                @Html.DisplayNameFor(model => model.UserName)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Password)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Email)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.FirstName)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.FirstName)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.LastName)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.LastName)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Address)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.City)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Country)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Country)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.Phone)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.Phone)
            </td>
        </tr>
        <tr>
            <td class="display-label">
                @Html.DisplayNameFor(model => model.DOB)
            </td>
            <td class="display-field">
                @Html.DisplayFor(model => model.DOB)
            </td>
        </tr>

    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  username=Model.UserName }) |
    @Html.ActionLink("Back to List", "Index")
</p>
